@font-face {
    font-family: "Menlo";
    src: url("../Menlo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Arial";
    font-size: 0.85em;
    width: 1100px;
    margin: auto;
    
}
.frame{
    background: #008080;
    color: white;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin:20px 50px;
    padding-bottom: 20px;
    min-width:250px;
    max-width:250px;
    
    
}


.avatar, img{
    height: 150px;
    width: 150px;
    background-size: 100% 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 50%;
    margin: auto;
    padding-top: 10px;
}



.button_container{
    text-align: center;
}

.validation{
    display: none;
    text-align: center;
}
    

button[type="button"]{
    
    border-radius: 20px;
    padding: 5px 10px;
   
    text-align: center;
    
}

button[type="button"]:hover{
    background-color: #008080;
    color: white;
    border: 1px solid white;
    
}